.body {
  text-align: center;
  display: block;
}

.buttons {
  display: block;
  font-family: 'Aclonica', sans-serif;
}

h1 {
  font-family: 'Shojumaru', cursive;
}

h2 {
  font-family: 'Shojumaru', cursive;
}

ul {
  font-family: 'Eczar', serif;
}
