.body {
  text-align: center;
  display: block;
  background-image: url("https://jooinn.com/dice-11.html#gal_post_26651_dice-28.jpg");
}
body {
  background-image: url("https://jooinn.com/dice-11.html#gal_post_26651_dice-28.jpg");
}

.buttons {
  display: block;
  font-family: 'Aclonica', sans-serif;
}

h1 {
  font-family: 'Shojumaru', cursive;
}

h2 {
  font-family: 'Shojumaru', cursive;
}
